*.pyc
media/
.idea
.vagrant
*.log
.coverage
_builds/
_cache/
_steps/
_projects/
.DS_Store
db.sqlite3
static/bower_components/
node_modules/
frontend/
.wercker/
cover/
helpers.sh
/core/management/commands/Screenshots/
src/
celerybeat*
npm.bat
npm.cmd
node.exe
.project
.pydevproject
.settings/
