{% load i18n %}
{% autoescape off %}


{% translate "You are receiving this message because you asked for a password reset at BTX Exchange website." %}

{% translate "Please, follow the link below to create a new password:{% block reset_link" %}

{{ protocol }}://{{ domain }}{% url 'accounts.password_reset_confirm' uidb64=uid token=token %}


{% endblock %}

{% translate "In case you have forgot, your username is" %} "{{ user.get_username }}"


{% translate "Regards, team  BTX Exchange" %}

{% endautoescape %}

{# This is used by django.contrib.auth #}