{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block formcontent %}

<h2>Forgot your password? </h2>

<p>
    Please inform the e-mail that you have registered in your profile and we will send you instructions to reset your pasword.
</p>


<form method="post" action="">
    {% csrf_token %}

    {% bootstrap_form form %}
    
    <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit" value="Send-me instructions via e-mail">
</form>
{% endblock %}


{# This is used by django.contrib.auth #}