{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block formcontent %}


<h2>{% translate "Define new password" %}</h2>
<p>{% translate "Fill in the form with your new password to complete the process:" %}</p>


<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit" value="{% translate "Define new password" %}">
</form>
{% endblock %}


{# This is used by django.contrib.auth #}