{%  load i18n %}

	   <div class="row">
	   	  <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-4">
			<div class="panel panel-success">
   			 <div class="panel-body">
			  <center><h1>Sucess !</h1></center>
			  <p>Payment Successfully sent:</p> 
			  <p>Using this reference number:</p> 
			  <p>{{unique_ref}}</p>

			<p><a class="btn btn-primary btn-lg" role="button" href="/order/">Done ! </a></p>
			 </div><!-- /pannel-body -->
            </div><!-- /pannel --> 
		 </div><!-- /col -->				
		</div><!-- /row -->

