{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% block css %}
{% endblock %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39575585 = new Ya.Metrika({ id:39575585, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39575585" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-84084133-1', 'auto');
          ga('send', 'pageview');
    </script>
    <meta charset="utf-8">
    <title>{% trans 'Nexchange' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page.
    -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{% static 'images/icon.png'%}">
    <!-- 	-->
    <link rel="stylesheet" href="{% static 'css/overrides_old.css' %}">
    <link rel="stylesheet" href="{% static 'css/overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
    <script type="text/javascript">
        // TODO: which is the best way to translate JS messages?
        var HTTP_500_MSG = "{% trans 'Service unavailable. Please try again later.' %}";
        var UNKNOW_ERROR = HTTP_500_MSG;
    </script>

    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
        {% include "core/analitycs/ga.html" %}
    {% endif %}

    <meta name="interkassa-verification" content="66cc636a788e738725aa9ec76741045b" />
    
</head>
<body>
   <div class="wrapper">
	  <div class="content">
        <div class="container main">
            <div class="menuContainer">
                {% include 'core/partials/menu.html' %}
            </div>
                {% block main %}
                {% endblock %}

        <div class="cms_container" >
            {% block cms_static %}
            {% endblock %}
        </div>
      </div>
    </div>
        {% block content %}
        {% endblock content %}


        {% block footer %}
        {% endblock %}
 </div>
   {% include 'core/partials/supported_payments.html' %}
    {% include 'core/partials/popular_faq.html' %}
    {% include 'core/partials/seo_footer.html' %}
   
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
          integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
          crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9a25f329b7.js"></script>
    <script src="{% static 'js/django_jquery_csrf_setup.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'bower_components/moment-timezone/builds/moment-timezone-with-data.min.js' %}"></script>
    <script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>
    {% include 'session_security/all.html' %}
    <script>
        $( document ).ready(function() {
          Cookies.set("USER_TZ", moment.tz.guess());
            var userLang= Cookies.get("django_language");
            if (!userLang)  {
              userLang = navigator.language || navigator.userLanguage;
              Cookies.set("django_language", userLang.substring(0,2).toLowerCase());
            }
        });
    </script>
    <script>
    // toastr settings
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
    </script>

    <script src="{% static 'js/footer.js' %}"></script>    
    {% bootstrap_javascript %}
    {% block extra_js_footer %} {% endblock %}
    <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>

</body>
</html>