{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="payfailed">
            <div class="text-payfailed" style="text-align: center">
                {% if bad_sugnature %}
                    {% trans "Bad signature" %}
                {% else %}
                    {% trans 'Your payment failed. You can try again or make new payment' %}
                {% endif %}
            </div>
            {% if not bad_sugnature %}
                <a href="{{ url_try_again }}" class="btn try-again">{% trans "Try again" %} </a>
            {% endif %}
            <a href="/" class="btn try-again">{% trans "New order" %}</a>
        </div>
    </div>
{% endblock %}