{% extends 'core/partials/steps/step_base.html' %}
{% load i18n %}

{% block step_content %}
    <div class="row paymentMethodsHead ">
        <h3>{% trans "Payment" %}</h3>
        <p>{% trans "Choose your payment method to finish !" %}</p>
    </div>
    <div class="row paymentMethods_old hidden ">
    {#    {% include 'core/partials/payment_methods.html' %} #}
    </div>
    <div class="row paymentSuccess hidden ">
        {% include 'core/partials/success_payment.html' %}
    </div>
{% endblock %}